    * {
        box-sizing: content-box;
        width: 100%;
    }
    
    html {
        max-width: 400px;
        width: 400px;
    }
    
    body {
        font-family: 'Quicksand', sans-serif;
    }
    
    img {
        border-radius: 12px;
        margin-top: 0.5rem;
        margin-left: .5rem;
        height: 255px;
        width: auto;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) 30%;
        -webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 30%);
    }
    
    h1 {
        font-size: 1.5rem;
        line-height: 2px;
        height: auto;
        width: 380px;
        margin-left: .5rem;
    }
    
    p {
        font-size: .8rem;
        width: auto;
        padding: .5rem;
        margin-left: 0px;
        text-align: left;
    }