    * {
        box-sizing: content-box;
        width: 100%;
    }
    
    html {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    body {
        font-family: 'Quicksand', sans-serif;
    }
    
    img {
        height: 255px;
        width: auto;
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) 30%;
        -webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 30%);
    }
    
    h1 {
        font-size: 2vh;
        margin-top: -60px;
        margin-left: 0px;
        padding-left: 5px;
        text-align: left;
    }
    
    p {
        font-size: 1.5vh;
        line-height: 1.5vh;
        padding-left: 5px;
        padding-right: 5px;
        max-width: fit-content;
        align-self: center;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: nowrap;
        background-color: silver;
        color: black;
    }
    
    .flex-container>div {
        background-color: white;
        width: 400px;
        height: 600px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 8px;
        border-radius: 18px;
        overflow: hidden;
    }
    
    .lorem {
        line-height: 2.5vh;
        height: 5vh;
    }
    
    .sh-card>div {
        display: inline-block;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .quant {}
    
    #price {
        max-width: 96%;
        margin-top: 1.5vh;
        margin-left: 0vw;
        height: 35px;
        border-radius: 12px;
        color: black;
        border: 1px solid black;
    }
    
    #price>p {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        padding-bottom: 2.5vh;
        margin-left: 150px;
        font-weight: 800;
    }
    
    .size {
        width: 100px;
        display: flex;
        flex-direction: row;
        float: left;
        margin-left: .5vw;
    }
    
    #size-pd {
        width: 100%;
        height: 40px;
        -moz-padding-start: calc(10px - 3px);
        padding-left: 10px;
        background-color: blue;
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        border-radius: 6px;
    }
    
    .quant {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    #quant-pd {
        width: 100%;
        height: 40px;
        -moz-padding-start: calc(10px - 3px);
        padding-left: 10px;
        background-color: blue;
        color: rgb(255, 255, 255);
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        border-radius: 6px;
    }